/********************************Highlight pinned topic**********************************/
tr[data-topic-id='75463'], tr[data-topic-id='75533'] {
/*tr.pinned*/
  background-color: #ccffcc!important;
}
/**************************************/

// Add underline to link within posts upon hovering
.cooked a:hover {
  text-decoration: underline;
}

/**************** PM Icon Color *******************/
.private-message-glyph {
  color:green!important;
}
.composer-action-privateMessage {
  background-color: #e0ffe2!important;
}
.composer-action-privateMessage .grippie {
  background-color: #28b332!important;
}
.private-message .d-editor-preview-wrapper {
  /* Your styles here */
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.private-message .d-editor-preview {
  padding:20px!important;
}

.category-heading {
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 1rem; /* Add space between the logo and text */
}

.category-logo {
  display: flex;
  align-items: center; /* Ensures the image inside is aligned */
}

.category-logo img {
  max-height: 100px; /* Adjust as needed */
  width: auto;
}

.category-heading p {
  margin: 0; /* Remove default margin */
}

.global-notice {
  text-align:center!important;
  font-weight: 600!important;
}

/* Welcome and search block */
.custom-search-banner-wrap {
  background:#f3f3f3!important;
}

.global-notice {
  text-align: center!important;
}

.custom-search-banner {
  background: #f3f3f3!important;
  margin-left:10px;
  margin-right:10px;
}